{{ define "main" }}
  <article class="pa3 pa4-ns nested-copy-line-height nested-img">
    <section class="cf ph3 ph3-l pv2 pv2-l f4 tc-l center measure-wide lh-copy mid-gray">
      {{- .Content -}}
    </section>
    <section class="flex-ns flex-wrap justify-around">
      {{ range (.Paginator 1000).Pages }}
        <div class="relative mb3 mr1 ml1 tc bg-black v-mid pa1" style="width: 340px; height: 80px; border:2px solid rgb(137, 94, 10); ">
            <div class="ttu nowrap v-mid f3 lh-copy b garamond" style="color:rgb(198, 149, 52)">
              {{ if .Params.description }}
                <a href="{{ .Permalink }}" class="" style="color:rgb(198, 149, 52)">
                  {{ .Title }}
                </a>
              {{ else }}
                {{ .Title }}
              {{ end }}
            </div>
            <div class="f4 garamond b v-mid" style="color:rgb(198, 149, 52)">
              {{ .Date.Format "1/2/2006" }}
            </div>
        </div>
      {{ end }}
    </section>
    {{- template "_internal/pagination.html" . -}}
  </article>
{{ end }}
